<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ClickWebByBTC</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file> 
  </welcome-file-list>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/error.jsp</location>
  </error-page>
  
  
  
  <servlet>
  	<servlet-name>draw</servlet-name>
  	<servlet-class>service.DrawServlet</servlet-class>
  </servlet>
	
	<servlet-mapping>
		<servlet-name>draw</servlet-name>
		<url-pattern>/draw</url-pattern>
	</servlet-mapping>
  
</web-app>